<div id='add'>
  <header>
    <img src="assets/ic_back.png" (click)="back()" id="btnBack" alt="ic_back" width="40" height="40"/>
    <h1>{{title}}</h1>
    <img src="assets/ic_cancel.png" id='btnCancel' (click)="clickCancel = !clickCancel" alt="ic_cancel" width="40" height="40"/>
    <img src="assets/ic_done.png" id='imgDone' (click)="clickDone()" alt="ic_done" width="40" height="40"/>
  </header>
  <div id="textarea">
    <div *ngIf="!valid" id="error" [innerHTML]="error"></div>
    <h2>Name  </h2>
    <textarea type="text" [(ngModel)]='inputName' placeholder="Name"></textarea>
    <h2>Ingredient  </h2>
    <textarea type="text" [(ngModel)]='inputIngredient' placeholder="Ingredient" rows="3"></textarea>
    <h2>Step  </h2>
    <textarea type="text" [(ngModel)]='inputStep' placeholder="Step" rows="4"></textarea>
    <h2>Type  </h2>
    <select [(ngModel)]="inputType" name="Select type" class="ui fluid search selection dropdown">
      <option *ngFor="let type of typeList" [value]="type">{{type}}</option>
    </select>
    <button id="btnDone" (click)="clickDone()">Done</button>
  </div>
</div>
<app-dialog [(visible)]="clickCancel">
  <div id="containerConfirm">
    <h2>Are you sure to cancel? </h2>
    <h3>It will discard all changes.</h3>
    <button style="position:absolute;right:0;bottom:0" (click)="cancel()">Yes</button>
    <button style="position:absolute;left:0;bottom:0">No</button>
  </div>
</app-dialog>
